.styled {
    border: 0;
    line-height: 2.5;
    padding: 5px 20px;
    font-size: 2rem;
    text-align: center;
    color: #f4f2f2;
    text-shadow: 1px 1px 1px #000;
    border-radius: 15px;
    background-color: rgb(7, 143, 44);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  
 
}
body {
    background-image: url("Pets.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    
  }

/*.split {
   
    height: 100%;
    width: 40%;
    position: absolute;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 90px;
  }

  .right {
   
    right: 0;
   
  }*/
  
  .item2
  {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-grow: 1;
    gap: 4rem;
  }
 .item3 {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
 }

  img{
    width: 50%;
    height: 300%;
  }
  